body {
  /* background-color: aqua; */
  font-family: sans-serif;
  padding: 0%;
  margin: 0%;
}
#scene {
  height: 100vh;
  width: 100%;
  background: url("../images/backgrounds/h_img.jpg") fixed center no-repeat;
  background-size: cover;
  /* width: 100%;
  width: 100%;
  height: 100vh;
  background: url("/images/backgrounds/h_img.jpg") fixed center ;
  background-repeat:no-repeat;
  background-size: cover; */
}
.welcome {
  text-align: center;
  color: whitesmoke;
  height: auto;
  width: auto;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  height: 100%;
  width: max-width;
}
#logo img {
  height: 75px;
  width: 75px;
  margin-top: 30px;
}
.message {
  margin-top: 50px;
}
.welcome-big {
  font-size: 3op;
}

.welcome-small {
  font-size: 14px;
}

.icon-scroll {
  position: absolute;
  left: 50%;
  top: 88%;
}
.about-us {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
  font-size: 15px;
}
.services {
  height: 25em;
  background: url("../images/backgrounds/s_image.jpg") no-repeat;
  background-origin: top right;
  background-size: cover;
  color: white;
}

#service-info {
  text-align: center;
  width: auto;
  height: auto;
  top: 47%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

.we-do {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 5px;
}
#prod-img,
#des-img,
#dev-img {
  height: 80px;
}

#what-we-do {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5em;
  margin-right: 5em;
  padding: 1em 5em 2em 5em;
}

/* .img {
  width: 60px;
  height: 60px;
} */

figcaption {
  font-family: sans-serif;
  font-size: small;
  padding-top: 5px;
}
#dev-img {
  padding-left: 10em;
}
#des-descriptions,
#dev-we-description,
#management-we-description {
  display: none;
}
.what-we-do {
  height: auto;
  margin: 0 auto;
  border: 1px solid blueviolet;
  border-radius: 2.5em;
  width: 60%;
  padding: 2em;
  background-color: #f5f5f5;
  box-shadow: 0 0.8em 1.5em -0.6em black;
}
.descriptions h2 {
  margin-bottom: 20px;
}

h2 #c-underline {
  border-bottom: 2px solid black;
  padding: 0.5em;
}
#portfolio {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 50px;
}

.portfolio-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  float: lef;
}

.img-card {
  width: 150px;
  height: 150px;
  margin: 5px;
}

#bailey-wonger {
  background: url("../images/portfolio/work8.jpg") no-repeat;
  background-size: cover;
  width: 150px;
}

#bailey-wonger #card-overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

#bailey-wonger #card-overlay #bailey-wonger-info {
  color: white;
  border: 1px solid white;
  width: 65%;
  height: 99%;
  text-align: left;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  padding-left: 10px;
  /* padding-top: 10px; */
  font-weight: bold;
  font-size: 15px;
}

#contacts {
  background: url("../images/backgrounds/c_image.jpg") left no-repeat;
  background-size: cover;
  height: 75vh;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 10px;
}

#contacts h2 {
  margin: 20px auto 20px auto;
}

#contact-top {
  margin-bottom: 20px;
}

#contact-top input,
#contact-bottom textarea {
  background: transparent;
  box-sizing: border-box;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid white;
  font-family: "Lato", sans-serif;
}

::-webkit-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

[type="text"],
[type="email"] {
  width: 350px;
}

textarea {
  width: 705px;
  height: 200px;
}

#send-btn button {
  background-color: transparent;
  margin-top: 30px;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
}
.img-card:hover img {
  opacity: 2;
}

#send-btn button:hover {
  background-color: gray;
  color: black;
}

#send-btn button:active {
  outline: none;
}

#send-btn button:focus {
  outline: none;
}

#social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

#social-media a {
  padding: 10px;
  width: 60px;
  height: 60px;
}

#copyright-info {
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
}

@media only screen and (max-width: 980px) {
  body,
  html,
  #container {
    overflow-x: hidden;
  }

  #dev-img {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 40px 0 40px;
  }

  [type="email"] {
    margin-top: 10px;
  }

  textarea {
    width: 350px;
    margin-top: 30px;
  }

  #social-media a {
    padding: 5px;
    width: 40px;
    height: 40px;
  }
}
